@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* GLOBAL */
:root {
  --clr: #0065fc;
  --clr-ltr: #deebff;
  --alt-clr: #f2f2f2;
}

* {
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}


i {
  color: var(--clr);
}

i.clr-black {
  color: black;
}

a {
  text-decoration: none;
}

/* HEADER */
/* navbar */
.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.navbar > *:not(.main-nav) {
  padding: 1em 20px;
}

.navbar .main-nav {
  display: flex;
  width: 100%;
  order: 1;
}

.navbar .main-nav a {
  text-align: center;
  width: 50vw;
  padding: 1em;
  color: black;
  border-bottom: 3px solid var(--clr-ltr);
  transition: border-bottom 0.5s ease;
}

.navbar .main-nav a:hover {
  font-weight: 600;
  color: var(--clr);
  border-bottom: 3px solid var(--clr);
}

.navbar a#subscribe {
  color: var(--clr);
  font-weight: bold;
}

/* banner */
.banner {
  padding: 1em 20px;
}

h1 {
  margin-right: 1em;
  font-size: 28px;
  font-weight: bolder;
}

h1 div {
  padding: 1em 0;
  font-size: 16px;
  font-weight: normal;
}
.tags {
  display: block;
}
@media only screen and (min-width: 768px) {
  .tags {
    display: inline-flex;
    align-items: center;
  }
}

.tag {
  transition: all 0.5s ease;
  background: white;
  border: 1px solid var(--alt-clr);
  border-radius: 15px;
  margin: 1em;
  font-weight: bold;
  text-transform: capitalize;
  padding: 0 10px 0 5px;
}
@media only screen and (min-width: 768px) {
  .tag {
    margin: 0 0 0 2em;
  }
}

.tag i {
  position: relative;
  left: -8px;
  background: var(--clr-ltr);
  border-radius: 50%;
  padding: 8px 9px;
}

.tag:hover {
  background: var(--clr-ltr);
}

i.fa-info {
  border: 1px solid var(--alt-clr);
  border-radius: 50%;
  padding: 7px 12px;
  margin-right: 1em;
}
.show-more {
  padding: 1em 0;
  font-size: 18px;
  border: none;
  font-weight: bold;
  background: none;
  cursor: pointer;
}

.search {
  background: var(--clr);
  border: 0 0 1px 1px;
  border-radius: 10px;
}

form {
  height: 50px;
  width: 95%;
  border-radius: 15px;
  border: 1px solid var(--alt-clr);
}

form input {
  font-weight: bold;
  border: none;
  padding: 1em;
}

form input:focus {
  outline: none;
}

form .fa-map-marker-alt {
  border-radius: 15px 0 0 15px;
  padding: 17px;
  background: var(--alt-clr);
}

form .search-icon {
  float: right;
  border: none;
  border-radius: 15px;
  background: var(--clr);
}

form .fa-search {
  padding: 1em 0.7em;
  color: white;
}

form .search {
  display: none;
}
@media only screen and (min-width: 768px) {
  form .search {
    display: inline-block;
  }
  form .search-icon {
    display: none;
  }
}

/* LODGING & ACTIVITIES */
.bloc {
  padding: 1em;
}

@media only screen and (min-width: 768px) {
  .bloc {
    padding: 1em 2em;
    border-radius: 15px;
  }
}

.cards {
  border: 1px solid red;
  display: flex;
}

.card {
  box-shadow: 0 0 5px rgba(33, 33, 33, 0.2);
  transition: box-shadow 0.3s;
  background: white;
  margin: 20px 10px;
  border: 5px solid white;
  border-radius: 15px;
  overflow: hidden;
  /* 
  width: 250px; */
  height: 250px;
}

.card:hover {
  box-shadow: 0 0 15px rgba(33, 33, 33, 0.2);
}

.low-price {
  font-weight: bold;
}

.star-empty {
  color: var(--clr-ltr);
}

/* LODGING */

#lodging {
  display: flex;
  flex-flow: row wrap;
}

@media only screen and (min-width: 768px) {
  #lodging {
    margin: 20px 0;
  }
}

#lodging .bloc {
  margin: 1em 0;
}

@media only screen and (min-width: 768px) {
  #lodging .bloc {
    margin: 20px 10px;
    background: var(--alt-clr);
  }
}

/* city */
.bloc-city {
  width: 100vw;
}

@media only screen and (min-width: 768px) {
  .bloc-city {
    width: 60%;
  }
}

.bloc-city .cards {
  display: flex;
  flex-flow: row wrap;
}

@media only screen and (min-width: 768px) {
  .bloc-city .cards {
    width: calc(100% / 3);
  }
}

.card-city {
  margin: 10px 0;
}

.card-city .img-wrapper {
  height: 150px;
  width: 100%;
  margin: 0;
}

.card-city img {
  object-fit: cover;
  height: 150px;
  width: 100%;
}

.card-city .text-wrapper {
  padding: 1em;
}

.card-city h3,
.card-city p {
  margin: 0.5em 0;
  margin-top: 0;
}

/* popular */
.bloc-popular {
  background: var(--alt-clr);
  order: -1;
  width: 100vw;
}

@media only screen and (min-width: 768px) {
  .bloc-popular {
    order: 0;
    width: 20%;
  }
}

.bloc-popular .fa-chart-line {
  float: right;
}

.bloc-popular .cards {
  display: block;
  width: 100%;
}

.card-popular {
  display: flex;
  margin: 20px 0;
  height: 150px;
  min-width: 300px;
}

.card-popular .img-wrapper {
  height: 100%;
  width: 150px;
  margin: 0;
}

.card-popular img {
  object-fit: cover;
  width: 150px;
  height: 100%;
}

.card-popular .text-wrapper {
  padding: 1em;
  padding-top: 0;
  margin: 0;
  position: relative;
}

.card-popular .vote {
  position: absolute;
  bottom: 10px;
}

/* ACTIVITIES */

.masonry {
  columns: 1;
  column-gap: 20px;
}
@media only screen and (min-width: 768px) {
  .masonry {
    columns: 2;
  }
}
@media only screen and (min-width: 1024px) {
  .masonry {
    columns: 4;
  }
}
.card-activities {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 20px;
}

.card-activities .img-wrapper {
  height: 100px;
  overflow: hidden;
}

.card-activities img {
  height: auto;
}

/* FOOTER */
footer {
  padding: 0 20px;
  background: var(--alt-clr);
  display: flex;
  flex-flow: row wrap;
  /* display: grid; */
  /* grid-column-gap: 20px; */
  /* grid-template-columns: repeat(3, 1fr); */
}

.navbar-btm {
  width: calc(80% / 3);
}

.navbar-btm a {
  display: block;
  padding-bottom: 1em;
}
